attrs==25.4.0
cyclopts==4.10.0
dnspython==2.8.0
docstring_parser==0.17.0
docutils==0.22.4
jmespath==1.1.0
markdown-it-py==4.0.0
mdurl==0.1.2
numpy==2.4.3
pandas==3.0.1
polars==1.39.0
polars-runtime-32==1.39.0
Pygments==2.19.2
pymongo==4.16.0
python-dateutil==2.9.0.post0
rich==14.3.3
rich-rst==1.3.2
six==1.17.0
